<link rel="stylesheet" href="./static/css/btn.css">
<link rel="stylesheet" href="./static/css/admin.css">

<div class="back">
    <button class="btn back" id="back"><i class="fas fa-arrow-left"></i></button>	
</div>

{{#if user}}
		<div class="user-area">
			<div class="bg">
				{{#each tabs}}
					<span class="link"><a href="{{this.link}}">{{this.text}}</a></span>
				{{/each}}
				<span class="username">{{user.displayName}}</span>
				<a href="{{user.profileUrl}}" class="profile-link"><img src="{{photo}}" alt="{{user.displayName}}"></a>
			</div>
			<span class="link"><a href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a></span>
		</div>
		{{else}}
		<div class="login-btn">
			<button class="btn login" id="login" onclick="redirect('/auth/github');"><span>Login with </span> <i class="fab fa-github"></i></button>
		</div>
	{{/if}}



<script type="text/javascript">
    document.getElementById("back").onclick = function () {
        location.href = "/";
    };
</script>
<script src="./static/js/admin.js"></script>